.header_pets {
  position: fixed;
  z-index: 2;
  top: 0;
  background: $backgroundWhiteColor;
  padding: rem(30) 0 rem(30) 0;
  min-height: rem(120);
  @media (max-width: $mW4) {
      position: relative;
  }
}

.menu-pets {
  @media (max-width: $mW4) {
    background: $backgroundGrayColor;
  }

}

.menu__link_pets {
  color: $colorText;
  &.active-pets {
    padding-bottom: rem(3);
    border-bottom: rem(3) solid $backgroundBtn;
  }
  &:hover {
    color: #000000;
    text-shadow: #FC0 1px 0 10px;
  }
}

.header__logo_pets {
  h1 {
    letter-spacing: 0.06em;
    font-size: rem(32);
    line-height: 110%;
    margin-bottom: rem(10);
    color: $colorText;
  }

  p:last-child {
    color: $colorText;
  }
}

.icon-menu_pets {
  span:first-child {
    background: $colorDark;
  }

  span:nth-child(2) {
    background: $colorDark;
  }

  span:last-child {
    background: $colorDark;
  }
}
