.addition {
  padding: rem(80) 0 rem(99) 0;
  background: $backgroundGrayColor;
  @media (max-width: $mW4) {
    padding: rem(42) 0;
  }
  // .addition__body
  &__body {
    display: flex;
    column-gap: rem(29);
    row-gap: rem(60);
    justify-content: center;
    align-items: center;
    @media (max-width: $mW5) {
      row-gap: rem(42);
    }
    @media (max-width: $TypeOne) {
      flex-wrap: wrap;
      column-gap: rem(500);
    }
    @media (max-width: $mW4) {
      row-gap: rem(42);
      padding: 0 rem(10);
    }
  }

  // .addition__image
  &__image {
    flex: 0 0 rem(505);
    @media (max-width: $TypeOne) {
      flex: 0 1 100%;
      display: flex;
      justify-content: center;
      order: 1;
      img {
        max-width: 100%;
        @media (max-width: $mW4) {
            max-width: 93%;
        }
      }
    }
  }

  // .addition__data
  &__data {
    flex: 0 0 rem(380);
    @media (max-width: $mW4) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: $mW5) {
      flex: 0 1 100%;
    }
  }

  // .addition__title
  &__title {
    @extend %title;
    text-align: left;
    max-width: rem(308);
    margin-bottom: rem(20);
    @media (max-width: $mW4) {
      @include adaptive-value("font-size", 35, 25, lessContainerRem);
      @include adaptive-value("max-width", 300, 220, lessContainerRem);
      text-align: center;
      margin: 0 auto;
    }
  }

  // .addition__subtitle
  &__subtitle {
    letter-spacing: 0.06em;
    color: $colorText;
    line-height: 110%;
    margin-bottom: rem(20);
    @media (max-width: $mW4) {
      padding-top: rem(22);
      letter-spacing: 0;
      margin-bottom: rem(23);
      text-align: center;
    }
  }

  // .addition__number-card
  &__number-card {
    display: flex;
    align-items: center;
    column-gap: rem(15);
    background: $backgroundGoldenIcon;
    margin-bottom: rem(20);
    max-width: rem(350);
    border-radius: rem(9);
    padding: rem(10) rem(15);
    transition: 0.3s ease;
    @media (min-width: $mW4) {
      &:hover {
        background: #FDDCC4;
      }
    }
  }

  // .addition__number
  &__number {
    font-size: rem(20);
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $colorText;
    @media (max-width: $mW4) {
      @include adaptive-value("font-size", 20, 15, lessContainerRem);
      letter-spacing: 0.05em;
    }
  }

  // .addition__text
  &__text {
    color: #B2B2B2;
    line-height: rem(18);
    font-size: rem(12);
    font-family: 'Arial', sans-serif;
    font-style: italic;
    @media (max-width: $mW4) {
      text-align: justify;
      @include adaptive-value("max-width", 350, 280, lessContainerRem);
    }
  }
}
