@font-face {
   font-family: Arial, sans-serif;
   src: url('../../assets/fonts/arial-regular.ttf') format('ttf');
   src: url('../../assets/fonts/arial-bold.ttf') format('ttf');
   src: url('../../assets/fonts/arial-italic.ttf') format('ttf');
   src: url('../../assets/fonts/arial-black.ttf') format('ttf');
   src: url('../../assets/fonts/arial-bold-italic.ttf') format('ttf');
}

@font-face {
   font-family: Georgia, sans-serif;
   src: url('../../assets/fonts/georgia-regular.ttf') format('ttf');
   src: url('../../assets/fonts/georgia-bold.ttf') format('ttf');
   src: url('../../assets/fonts/georgia-italic.ttf') format('ttf');
   src: url('../../assets/fonts/georgia-bold-italic.ttf') format('ttf');
}