.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: rem(60) 0 0 0;
  @media (max-width: $TypeOne) {
    padding: rem(30) 0 0 0;
  }

  // .header__body
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__logo
  &__logo {
    position: relative;
    z-index: 10;
    transition: 0.3s ease;
    @media (min-width: $mW4) {
      &:hover {
        transform: scale(1.03);
      }
    }


    p:first-child {
      color: #F1CDB3;
      letter-spacing: 0.06em;
      font-size: rem(32);
      line-height: 110%;
      margin-bottom: rem(10);
    }

    p:last-child {
      text-align: center;
      font-family: 'Arial', sans-serif;
      color: $colorWhite;
      letter-spacing: 0.1em;
      font-size: rem(13);
      line-height: rem(15);
    }
  }
}
.logo-none {
  display: none;
}

.logo-menu {
  display: block;
  position: absolute;
  top: rem(31);
  left: rem(10);
}

.icon-menu {
  display: none;
  margin-left: auto;
  @media (max-width: $mW4) {
    position: fixed;
    right: rem(53);
    z-index: 10;
    display: block;
    width: rem(30);
    height: rem(22);
    transition: all 0.3s ease 0s;
    &.active {
      transform: rotate(-90deg);
      top: rem(50);
    }
    &.sticky {
      top: rem(20);
      right: rem(15);
    }
    &.sticky-offset {
      top: rem(50);
      right: rem(15);
    }
  }

  span:first-child {
    position: absolute;
    top: 0;
    right: 0;
    height: rem(2);
    width: 100%;
    background: $backgroundGoldenIcon;
  }

  span:nth-child(2) {
    position: absolute;
    top: 45%;
    right: 0;
    bottom: 0;
    left: 0;
    height: rem(2);
    width: 100%;
    background: $backgroundGoldenIcon;
  }

  span:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    height: rem(2);
    width: 100%;
    background: $backgroundGoldenIcon;
  }
}

// menu
.menu {
  @media (max-width: $mW4) {
    position: fixed;
    z-index: 10;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: rem(320);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: rem(90);
    background: rgb(33, 31, 31);
    transition: right 0.5s ease 0s;
    overflow: auto;
    @media (max-height: em(450)) {
      padding-top: rem(120);
      justify-content: center;
      align-items: stretch;
    }
    &.active {
      right: 0;
    }
  }
  // .menu__nav
  &__nav {
  }

  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    column-gap: rem(36);
    @media (max-width: $mW4) {
      flex-direction: column;
      row-gap: rem(37);
    }
  }

  // .menu__link
  &__link {
    font-family: 'Arial', sans-serif;
    color: $colorHome;
    line-height: 160%;
    transition: 0.3s ease;
    @media (max-width: $mW4) {
      font-size: rem(32);
    }
    @media (min-width: $mW4) {
      &:hover {
        color: #FAFAFA;
      }
    }

    &.active {
      color: #FAFAFA;
      padding-bottom: rem(3);
      border-bottom: rem(3) solid $backgroundBtn;
      @media (max-width: $mW4) {
        padding-bottom: rem(0);
      }
    }
  }
}
