.help {
  padding: rem(79) 0 rem(100) 0;
  @media (max-width: $mW4) {
    padding: rem(42) 0;
  }
  // .help__body
  &__body {
    max-width: rem(1026);
    margin: 0 auto;
  }

  // .help__title
  &__title {
    @extend %title;
    max-width: rem(340);
    margin: 0 auto;
    @media (max-width: $mW4) {
      @include adaptive-value("font-size", 35, 25, lessContainerRem);
      @include adaptive-value("max-width", 300, 250, lessContainerRem);
      text-align: center;
    }
  }

  // .help__row
  &__row {
    padding-top: rem(60);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: rem(55);
    column-gap: rem(119.3);
    @media (max-width:$TypeOne) {
      column-gap: rem(2.5);
    }
    @media (max-width: $mW4) {
      row-gap: rem(30);
      padding-top: rem(42);
      justify-content: flex-start;
      column-gap: rem(15);
    }
  }

  &__column {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $TypeOne) {
      flex: 0 1 32.333%;
    }
    @media (max-width: $mW4) {
      flex: 0 1 47.5%;
    }
  }

  // .help__element
  &__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      flex: 1 1 auto;
      margin-bottom: rem(30);
      height: rem(60);
      @media (max-width: $mW4) {
        margin-bottom: rem(20);
        height: rem(50);
      }
    }
  }

  // .help__subtitle
  &__subtitle {
    text-align: center;
    font-size: rem(20);
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $colorText;
    @media (max-width: $mW4) {
      @include adaptive-value("font-size", 20, 15, lessContainerRem);
    }
  }
}

