.our-friends {
  background: $backgroundGrayColor;
  padding: rem(80) 0 rem(100) 0;
  @media (max-width: $mW4) {
    padding: rem(42) 0;
  }
  // .our-friends__body
  &__body {
  }

  // .our-friends__title
  &__title {
    @extend %title;
    max-width: rem(400);
    margin: 0 auto;
    @media (max-width: $mW4) {
      @include adaptive-value("font-size", 35, 25, lessContainerRem);
      @include adaptive-value("max-width", 400, 320, lessContainerRem);
      text-align: center;
    }
  }

  // .our-friends__swiper-body
  &__swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(60) 0 rem(35) 0;
    @media (max-width: $mW4) {
      padding: rem(42) 0 0 0;
      flex-direction: column;
    }

    &.swiper-column {

    }
  }

  // .our-friends__arrows
  &__arrows {
    padding-top: rem(20);
    margin-bottom: rem(17);
    justify-content: center;
    align-items: center;
    column-gap: rem(55);
  }

  // .our-friends__arrow-left
  &__arrow-left {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    border: 2px solid $backgroundGoldenIcon;
    flex: 0 0 rem(52);
    height: rem(52);
    margin-right: rem(53);
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: 0.3s ease;
    @media (max-width: $TypeOne) {
      margin-right: rem(28);
    }
    @media (max-width: $TypeTwo) {
      margin-right: rem(12);
    }
    @media (max-width: $mW4) {
      width: rem(52);
      order: 2;
      right: rem(60);
      bottom: rem(17);
    }

    img {
      transform: rotate(180deg);
    }
    @media (min-width: $mW4) {
      &:hover {
        background: $backgroundGoldenIcon;
      }
    }
  }

  // .our-friends__arrow-right
  &__arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    border: 2px solid $backgroundGoldenIcon;
    flex: 0 0 rem(52);
    height: rem(52);
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin-left: rem(53);
    transition: 0.3s ease;
    @media (max-width: $TypeOne) {
      margin-left: rem(28);
    }
    @media (max-width: $TypeTwo) {
      margin-left: rem(12);
    }
    @media (max-width: $mW4) {
      width: rem(52);
      order: 2;
      bottom: rem(70);
      left: rem(60);
    }
    @media (min-width: $mW4) {
      &:hover {
        background: $backgroundGoldenIcon;
      }
    }
  }

  // .our-friends__button
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: rem(25);
    @media (max-width: $mW4) {
      margin-top: rem(-51);
    }
  }

  &__btn {
    @extend %buttons;
  }
}

//=================== carousel ================== //
.our-friends__carousel-wrapper {
  overflow: hidden;
}

.our-friends__carousel {
  display: flex;
  position: relative;
  right: 100%;
  @media (max-width: $TypeOne) {
    max-width: rem(580);
  }
  @media (max-width: $mW4) {
    max-width: rem(270);
  }

  &.carousel_prev {
    animation-name: swipe-left;
    animation-duration: 0.5s;
  }

  &.carousel_next {
    animation-name: swipe-right;
    animation-duration: 0.5s;
  }
}


//=================== carousel ================== //
.row-friends {
  display: flex;
  align-items: center;
  column-gap: rem(90);
  position: relative;
  @media (max-width: $TypeOne) {
    column-gap: rem(40);
  }

  &.none {
    display: none;
  }

  //.row-friends__column
  &__column {
    flex: 1 1 33.333%;

  }

  // .row-friends__item
  &__item {
    border-radius: rem(9) rem(9) 0 0;
    background: #FAFAFA;
    text-align: center;
    cursor: pointer;
    padding-bottom: rem(30.5);
    transition: 0.3s ease;
    position: relative;
    z-index: 1;
    @media (min-width: $mW4) {
      &:hover {
        box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
        background: #FFFFFF;
      }
    }
  }

  // .row-friends__image
  &__image {
    margin-bottom: rem(26);
  }

  // .row-friends__name-pet
  &__name-pet {
    margin-bottom: rem(26);
    color: $colorText;
    letter-spacing: 0.06em;
    font-size: rem(20);
    line-height: em(23);
  }

  // .row-friends__buttons
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .row-friends__button
  &__button {
    @extend %buttons-learn;
    @media (min-width: $mW4) {
      &.hover_btn {
        background: $backgroundGoldenIcon;
      }
    }
  }
}

.arrow-none {
  display: none;
}

@keyframes swipe-left {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@keyframes swipe-right {
  from {
    right: 100%;
  }
  to {
    right: 200%;
  }
}

.img__visible {
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  position: fixed;
}

.row-friends__item:hover button {
  @media (min-width: $mW4) {
    background: $backgroundGoldenIcon;
  }

}

.popup__wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background: rgba(77, 72, 72, 0.63);
  position: fixed;
  z-index: 15;
  display: none;
  opacity: 1;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  animation: popup 0.5s ease;
  cursor: pointer;
  @media (max-height: em(450)) {
    padding-top: rem(100);
    padding-bottom: rem(50);
  }
  @media (max-height: em(400)) {
    padding-top: rem(150);
    padding-bottom: rem(50);
  }
  @media (max-height: em(340)) {
    padding-top: rem(230);
    padding-bottom: rem(60);
  }
}

.popup__body {
  position: relative;
  z-index: 20;
  overflow-y: auto;
  overflow-x: hidden;
  width: rem(900);
  height: rem(500);
  background: #FFFFFF;
  display: flex;
  border-radius: 9px;
  margin-left: rem(52);
  cursor: auto;
  @media (max-width: $TypeOne) {
    width: rem(630);
    height: rem(350);
  }
  @media (max-width: $mW4) {
    min-width: rem(248);
    width: rem(280);
    height: rem(370);
  }
}

.popup__info {
  padding: rem(50) rem(20) rem(88) rem(29);
  @media (max-width: $TypeOne) {
    padding: rem(10) rem(9) rem(37) rem(11);
  }
  @media (max-width: $mW4) {
    padding: rem(10);
  }
}

.popup__image {
  border-radius: 0;
  @media (max-width: $mW4) {
    display: none;
  }
}

.popup__name {
  font-family: 'Georgia', sans-serif;
  font-size: rem(35);
  line-height: 130%;
  letter-spacing: 0.06em;
  color: black;
  margin-bottom: rem(10);
  @media (max-width: $mW4) {
    text-align: center;
  }
}

.popup__breed {
  font-family: 'Georgia', sans-serif;
  font-size: rem(20);
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-bottom: rem(40);
  color: black;
  @media (max-width: $TypeOne) {
    margin-bottom: rem(20);
  }
  @media (max-width: $mW4) {
    text-align: center;
  }
}

.popup__description {
  font-family: 'Georgia', sans-serif;
  font-size: rem(15);
  line-height: 110%;
  letter-spacing: 0.06em;
  color: black;
  margin-bottom: rem(40);
  @media (max-width: $mW4) {
    text-align: justify;
  }
  @media (max-width: $TypeOne) {
    margin-bottom: rem(20);
    font-size: rem(13);
  }
}

.popup__list {
  font-family: 'Georgia', sans-serif;
  list-style-position: outside;
  li {
    margin-bottom: rem(11);
    letter-spacing: 0.1em;
    @media (max-width: $TypeOne) {
      margin-bottom: rem(6);
    }
  }

  li:last-child {
    margin-bottom: 0;
    padding-bottom: rem(10);
    line-height: 110%;
  }

  li span {
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: black;
  }

  li:before {
    content: '';
    width: 5px;
    height: 5px;
    background: #F1CDB3;
    display: inline-block;
    position: relative;
    bottom: 2.5px;
    border-radius: 50%;
    margin-right: rem(10);
    list-style-position: outside;
  }
}

.popup__close {
  min-width: rem(52);
  min-height: rem(52);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  position: relative;
  z-index: 150;
  top: rem(-275);
  right: rem(10);
  cursor: pointer;
  @media (max-width: $TypeOne) {
    top: rem(-200);
    right: rem(10);
  }
  @media (max-width: $mW4) {
    top: rem(-211);
    right: rem(22);
  }
  transition: 0.3s ease;
  &:hover {
    background: $backgroundGoldenIcon;
  }
  &.hover_close {
    background: $backgroundGoldenIcon;
  }
}

.active {
  display: flex;
}


@keyframes popup {
  to {opacity: 1}
  from {opacity: 0}
}

