//=======Переменная контейнера=-============//
$maxWidth: rem(1280);
$maxWidthContainer: rem(1200);
//=======Переменная контейнера=-============//
//========Переменная медиа-запроса===========//
//$mW1: em(1440);
$mW2: em(1230);
$mwBet: em(910);
$mW3: em(769);
$mW4: em(767);
$mW5: em(450);
$mW6: em(375);

$TypeOne: em(1279);
$TypeTwo: em(1100);
//========Переменная медиа-запроса===========//
$backgroundNotOnly: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
$backgroundGrayColor: #F6F6F6;
$backgroundWhiteColor: #FFFFFF;
$backgroundGoldenIcon: #F1CDB3;
$backgroundBtn: #F1CDB3;
$colorText: #545454;
$colorTextType2: #4C4C4C;
$colorHome: #CDCDCD;
$colorBtn: #292929;
$colorWhite: #FFFFFF;
$colorDark: #000000;

//
